/* My Keyboards */
.carousel-inner > .carousel-item > img {
  display: inline-block;
  margin: 0 auto;
  width: 80%;
}

.carousel-control-prev > .carousel-control-prev-icon {
  margin-left: 200px;
}

.carousel-control-next > .carousel-control-next-icon {
  margin-right: 200px;
}

/* Plate Material Comparison Chart Table */
#plateMaterialComparisonChartTable {
  padding: 1rem;
}

#plateMaterialComparisonChartTable table th td {
  border: 1px solid black;
}