/* My Keyboards */
.carousel-inner > .carousel-item > img {
  display: inline-block;
  width: 80%;
  margin: 0 auto;
}

.carousel-control-prev > .carousel-control-prev-icon {
  margin-left: 200px;
}

.carousel-control-next > .carousel-control-next-icon {
  margin-right: 200px;
}